*~
.*.sw[po]
*.tar.gz
*.tar.bz2
*.tar.xz
!gendef/mingw-w64-v*.tar.*
!genidl/mingw-w64-v*.tar.*
!genpeimg/mingw-w64-v*.tar.*
!libmangle/mingw-w64-v*.tar.*
!widl/mingw-w64-v*.tar.*
!winpthreads/mingw-w64-v*.tar.*
!winstorecompat/mingw-w64-v*.tar.*
